.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8rem;
    gap: 5rem;
    margin: 0 5rem;

    img {
        height: 25rem;
    }
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    font-weight: 500;
    padding: 10px 0;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

p {
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0 ;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    button {
        display: flex;
        align-items: center;
        gap: 9px;
        background-color: #383145;
        border-radius: 5px;
        border: none;
        color: #fff;
        padding: 5px 20px;
        width: auto;
        text-align: center;
        cursor: pointer;

        img {
            height: 10px;
            width: 10px;
            margin-right: 5px;
        }
    }
}

/* movie-page.component.scss */

.movie-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 4rem;
  
    a {
      text-decoration: none;
      padding: 5px;
      border-radius: 5px;
      img {
        width: 200px;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }

  @media screen and (max-width: 380px) {
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    .movie-links {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
  }
  

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .movie-links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
  }